@import "./mocha.css";
* {
  font-size: 17px;
  font-family: "MesloLGS Nerd Font Mono Bold";
}

window#waybar {
  background: #292b2e;
  color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
  color: #1a1a1a;
}

#custom-right-arrow-light,
#custom-left-arrow-light {
  color: #292b2e;
  background: #1a1a1a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray,
#network,
#backlight{
  background: #1a1a1a;
}

#workspaces button {
  padding: 0;
  color: #fdf6e3;
}
#workspaces button.active {
  color: #268bd2;
/*color: @mauve;*/
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}
#workspaces button:hover {
  background: #1a1a1a;
  border: #1a1a1a;
/*
  padding: 0 6px;
*/
}

#backlight{
  /*color: #e26161;*/
  color: #fdfd96;
  /*color: @sky;*/
}

#pulseaudio {
  color: #268bd2;
  /*color: @sky;*/
}
#memory {
  color: #2aa198;
  /*color: @green;*/
}
#cpu {
  color: #6c71c4;
  /*color: @peach;*/
}
#battery {
  color: #859900;
  /*color: @flamingo;*/

}
#disk {
  color: #b58900;
  /*color: @teal;*/
}
#network {
  color: #f2cdcd;
  /*color: @flamingo;*/
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#network,
#backlight{
  padding: 0 6px;
}
